<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.intel.dleyna.dleynademo"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17"
    />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name="com.intel.dleyna.dleynademo.App"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:allowBackup="false">
        <activity
            android:name="com.intel.dleyna.dleynademo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intel.dleyna.dleynademo.PrefsActivity"
            android:label="@string/pref_activity_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.intel.dleyna.dleynademo.PushActivity"
            android:theme="@style/Theme.Push"
            android:label="@string/app_push_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.intel.dleyna.dleynademo.RendererChoiceActivity"
            android:theme="@style/Theme.Discovery"
            android:label="@string/app_push_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="com.intel.dleyna.RendererService"
            android:process=":Renderer"
            >
        </service>
        </application>
</manifest>
