/* Page background color */
body { background-color: #F7FAF1; color:#000000; font-family: Arial, Helvetica, sans-serif; font-size: 100% }

/* Preformatted */
pre  { background-color: #F7FAF1; color:#000000; font-family: Arial, Helvetica, sans-serif; font-size: 100% }

/* Code */
/*
 * This doesn't work as expected.
 * Links within the code aren't renderered in the link colors defined below.
code { background-color: #F7FAF1; color:#000000; font-family: "Courier New", Courier, monospace; font-size: 90% }
*/

/* Headings */
h1 { font-size: 120% }

/* Table colors */
.TableHeadingColor     { background: #D0F0D0; color:#002000 }
.TableSubHeadingColor  { background: #E8FFE8; color:#000000 }
.TableRowColor         { background: #F7FAF1; color:#000000 }

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; font-family Arial, Helvetica, sans-serif; color:#000000 }
.FrameHeadingFont { font-size:  90%; font-family Arial, Helvetica, sans-serif; color:#000000 }
.FrameItemFont    { font-size:  90%; font-family Arial, Helvetica, sans-serif; color:#000000 }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#F7FAF1; color:#000000}
.NavBarCell1Rev { background-color:#008B00; color:#FFFFFF}
.NavBarFont1    { font-family Arial, Helvetica, sans-serif; color:#000000; color:#000000;}
.NavBarFont1Rev { font-family Arial, Helvetica, sans-serif; color:#FFFFFF; color:#FFFFFF;}

.NavBarCell2    { font-family Arial, Helvetica, sans-serif; background-color:#F7FAF1; color:#000000}
.NavBarCell3    { font-family Arial, Helvetica, sans-serif; background-color:#F7FAF1; color:#000000}

/* Links */
a:visited {color:#0050A0;}  /* visited link */
a:link    {color:#0050A0;}  /* unvisited link */
a:hover   {color:#0080FF;}  /* mouse over link */
a:active  {color:#0080FF;}  /* selected link */
