NativeLibs/jhbuild
NativeLibs/sources
NativeLibs/sources-*
NativeLibs/toolchain-*
NativeLibs/install-*
TestNativeLibs/.project
TestNativeLibs/bin
TestNativeLibs/gen
TestNativeLibs/libs
TestNativeLibs/obj
DLeynaDemo/.project
DLeynaDemo/bin
DLeynaDemo/doc
DLeynaDemo/gen
DLeynaDemo/libs
DLeynaDemo/obj
DLeynaDemo/jni/com_intel_dleyna_BogusConnector.h
DLeynaDemo/src/com/intel/dleyna/BogusConnector.java
